{#
    entities: array of objects
#}

{% for object in entities %}
    <tr class="entityTable__row">
        <td class="entityTable__field entityTable__field--multipart">
            <span class="entityTable__field__part">
            {% if object.type == 'folder' %}
                <a href="/admin/media/{{ object.id }}/view" class="entityTable__link">
                    <i class="fas fa-folder-open"></i>
                    <span>{{ object.name }}</span>
                </a>
                {% else %}
                    <a href="https://cdn.iwgb.org.uk/{{ object.key }}" class="entityTable__link" target="_blank">
                        <span>{{ object.name }}</span>
                    </a>
                    <a class="entityTable__field__action entityTable__field__action--copy" href="#"><i class="fas fa-copy"></i></a>
                {% endif %}
                {% if object.name != '..' %}
                    <a class="entityTable__field__action"
                       href="/admin/media/{{ object.id }}/delete"><i class="fas fa-trash"></i></a>
                {% endif %}
            </span>
            <span class="entityTable__field__part entityTable__field__part--hideMobile">
                {% if isImage(object.key) %}
                    <img class="entityTable__field__image" src="https://cdn.iwgb.org.uk/{{ object.key }}" alt="{{ object.name }}">
                {% endif %}
            </span>
        </td>
        <td class="entityTable__field">{{ object.modified|timeago }}</td>
    </tr>
{% endfor %}
