{#
    entities: array of \Domain\Member
#}

{% for member in entities %}
    <tr class="entityTable__row">
        <td class="entityTable__field">
            <a class="entityTable__link"
               href="/admin/member/{{ member.getId() }}">{{ member.getId() }}</a>
        </td>
        <td class="entityTable__field">{{ member.getFirstName() }} {{ member.getSurname() }}</td>
        <td class="entityTable__field entityTable__field--hideMobile">{{ member.getBranch() }}
            <a class="entityTable__field__action"
               href="/admin/member/all/0?branch={{ member.getBranch() }}"><i class="fas fa-arrow-right"></i></a>
        </td>
    </tr>
{% endfor %}