{% extends '/admin/admin.html.twig' %}

{#

#}

{% block head %}
    <title>View member &middot; Admin &middot; IWGB</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400|400italic" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="pageHeader pageHeader--multipart">
        <div class="pageHeader__part">
            <span class="memberName">
                <span class="memberName__part">{{ member.getFirstName() }}</span>
                <span class="memberName__part">{{ member.getSurname() }}</span>
            </span>
            <a class="pageHeader__action pageHeader__action--small" href="/admin/member/{{ member.getId() }}/edit"><i class="fas fa-pen"></i></a>
        </div>
        <div class="pageHeader__part">
            <button id="entityMenuCollapse" class="menuArrow" type="button">
                <span class="menuArrow__hand menuArrow__hand--top"></span>
                <span class="menuArrow__hand menuArrow__hand--bottom"></span>
            </button>
        </div>
    </div>

    <ul class="nav__list nav__list--standalone nav__list--hide">
        <li class="nav__list__item nav__list__item--collapse">
            <a id="copy" href="#" class="nav__link nav__link--nonNavigable">
                <i class="fas fa-copy"></i>
                <span>Copy data to clipboard</span>
            </a>
        </li>
        <li class="nav__list__item nav__list__item--collapse">
            <a id="copy" href="/admin/member/{{ member.getId() }}/delete" class="nav__link nav__link--nonNavigable">
                <i class="fas fa-trash"></i>
                <span>Delete</span>
            </a>
        </li>
    </ul>

    <div class="member">
        <div class="membershipCard">
            <div class="membershipCard__container">
                <div class="membershipCard__part">
                    <img class="membershipCard__logo" src="{{ _i("/assets/roundel-colour.png") }}" alt="IWGB logo">
                    <img class="membershipCard__wordmark" src="{{ _i("/assets/wordmark-white.png") }}" alt="IWGB wordmark">
                </div>
                <div class="membershipCard__part membershipCard__data">
                    <div class="membershipCard__data__field">
                        <span class="membershipCard__header">Independent Workers&rsquo; Union of Great Britain</span>
                    </div>
                    <div class="membershipCard__data__field">
                        <span class="membershipCard__title">Membership Card</span>
                    </div>
                    <div class="membershipCard__data__field">
                        <div class="membershipCard__name">{{ member.getFirstName() }} {{ member.getSurname() }}</div>
                        <div class="membershipCard__id">{{ member.getId() }}</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="memberInfo">

            <div class="memberDatum memberDatum__section memberDatum--fullWidth"></div>

            <div class="memberDatum memberDatum--tight">
                <div class="memberDatum__label">Verified</div>
                <div class="memberDatum__value" title="{{ member.getStringTimestamp() }}">
                    {% if member.isVerified() %}
                        <i class="fas fa-check"></i>
                    {% else %}
                        <span><i class="fas fa-times"></i></span>
                        <span class="memberDatum__value__action">
                            <i class="fas fa-undo"></i>
                            <a href="/admin/member/{{ member.getId() }}/reverify">Resend verification</a>
                        </span>
                    {% endif %}
                </div>
            </div>

            <div class="memberDatum memberDatum--tight">
                <div class="memberDatum__label">Confirmed</div>
                <div class="memberDatum__value">
                    {% if member.isConfirmed() %}
                        <i class="fas fa-check"></i>
                    {% else %}
                        <span><i class="fas fa-times"></i></span>
                        <span class="memberDatum__value__action">
                            <i class="fas fa-thumbs-up"></i>
                            <a href="/admin/member/{{ member.getId() }}/confirm">Confirm</a>
                        </span>
                        <span class="memberDatum__value__action">
                            <i class="fas fa-envelope"></i>
                            <a href="/admin/member/{{ member.getId() }}/remind">Send reminder</a>
                        </span>
                    {% endif %}
                </div>
            </div>

            <div class="memberDatum memberDatum--tight">
                <div class="memberDatum__label">ID</div>
                <div class="memberDatum__value">
                    <span>{{ member.getId() }}</span>
                </div>
            </div>

            <div class="memberDatum">
                <div class="memberDatum__label">Born</div>
                <div class="memberDatum__value">
                    <span>{{ member.getStringDob() }}</span>
                </div>
            </div>

            <div class="memberDatum">
                <div class="memberDatum__label">Gender</div>
                <div class="memberDatum__value">
                    <span>{{ member.getGender() }}</span>
                </div>
            </div>

            <div class="memberDatum memberDatum__section memberDatum--fullWidth">
                <span class="memberDatum__section__label">Contact</span>
            </div>

            <div class="memberDatum memberDatum--fullWidth">
                <div class="memberDatum__label">mobile</div>
                <div class="memberDatum__value">
                    <span>{{ member.getMobile() }}</span>
                    <span class="memberDatum__value__action">
                        <a href="tel:{{ member.getMobile() }}">
                            <i class="fas fa-phone"></i>
                            <span>Call</span>
                        </a>
                    </span>
                </div>
            </div>

            <div class="memberDatum memberDatum--fullWidth">
                <div class="memberDatum__label">email</div>
                <div class="memberDatum__value">
                    <span>{{ member.getEmail() }}</span>
                    <span class="memberDatum__value__action">
                        <a href="mailto:{{ member.getEmail() }}">
                            <i class="fas fa-at"></i>
                            <span>Compose</span>
                        </a>
                    </span>
                </div>
            </div>

            <div class="memberDatum">
                <div class="memberDatum__label">address</div>
                <div class="memberDatum__value">
                    <span>{{ member.getAddress() }}</span>
                </div>
            </div>

            <div class="memberDatum">
                <div class="memberDatum__label">postcode</div>
                <div class="memberDatum__value">
                    <span>{{ member.getPostcode() }}</span>
                    <span class="memberDatum__value__action">
                        <a target="_blank"
                           rel="noreferrer"
                           href="https://maps.google.com/?q={{ member.getPostcode() }}">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>View</span>
                        </a>
                    </span>
                </div>
            </div>

            <div class="memberDatum memberDatum__section memberDatum--fullWidth">
                <span class="memberDatum__section__label">Branch data <span class="memberDatum__section__label__datum">{{ member.getBranch() }}</span></span>
            </div>

            {% for key, value in member.getBranchDataAssoc() %}
                <div class="memberDatum">
                    <div class="memberDatum__label">{{ key }}</div>
                    <div class="memberDatum__value">
                        <span>{{ value }}</span>
                    </div>
                </div>
            {% endfor %}

            <div class="memberDatum memberDatum__section memberDatum--fullWidth">
                <span class="memberDatum__section__label">Recent events</span>
            </div>


            <table class="events" width="100%">
                {% for event in events %}
                    <tr class="event">
                        <td class="event__field">{{ event.getId() }}</td>
                        <td class="event__field">{{ event.getType() }}</td>
                        <td class="event__field">{{ event.getStringTimestamp() }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
        $('#copy').on('click', function (e) {
            let s = '';
            $('.memberDatum').each(function(i, el) {
                if (!$(el).hasClass('memberDatum__section')) {
                    s += $(el).find('.memberDatum__label').text() + ": ";
                    s += $(el).find('.memberDatum__value').find('span').first().text() + ",\n";
                }
            });

            const el = document.createElement('textarea');
            el.value = s;
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            $(this).find('span').text('Copied!');
            setTimeout(reset, 3000);
        });

        function reset() {
            $('#copy').find('span').text('Copy to clipboard');
        }
    </script>

{% endblock %}


