{% from 'macros.html.twig' import i18n as _ %}

{#
    fields: fields conformant to elements.schema.json#/definitions/slant-box
#}

<div class="tile {{ fields.direction }} {{ fields.colour }}">
	<div>
		<h1>{{ _(fields.heading) }}</h1>
		<p>
			{% autoescape false %}
				{{ _(fields.body)|htmlentities|md }}
			{% endautoescape %}
		</p>
	</div>
	<div class="img" style="background: url({{ fields.image.src }}) center/cover">
		<div class="slant"></div>
	</div>
</div>