{% extends 'page.html.twig' %}

{#
	branch: branch data conformant to branches.schema.json#/definitions/branch
	join: form data conformant to forms.schema.json#/definitions/form
	recaptchaSite: Google ReCaptcha site key
#}

{% block meta %}
	<script src="/js/nodep-date-input-polyfill.dist.min.js"></script>
{% endblock %}

{% block page %}

	<h1>Join {{ _(branch.display) }}</h1>
	<form method="post" action="/join?callback=/join/{{ branch.name }}">
		{% include 'csrf.html.twig' %}
		<input type="hidden" name="branch" value="{{ branch.name }}">
		{% for section in join.sections %}
			<div>
				<h2>{{ _(section.display) }}</h2>
				{% for line in section.fields %}
					{% autoescape false %} {{ dump(line) }} {% endautoescape %}
					<div>
						{% include 'formsection.html.twig' with {
							'fields': line
						} only %}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
		{% if branch.fields is defined %}
			<div>
				<h2>Information for your branch</h2>
				{% include 'formsection.html.twig' with {
					'fields': branch.fields
				} only %}
			</div>
		{% endif %}
		<div>
			<h2>Membership type</h2>
			<select name="cost">
				{% for cost in branch.costs %}
					<option value="{{ cost.name }}">{{ _(cost.display) }}: £{{ cost.amount }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="g-recaptcha" data-sitekey="{{ recaptchaSite }}"></div>
		<input type="submit" value="Next">
	</form>
{% endblock %}
	
{% block scripts %}
	<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

