{% extends '/admin/admin.html.twig' %}

{% from '/admin/entity-list.html.twig' import sortOrder %}

{#
    entityName:     Entity name
    entityPlural:   Plural of entityName
    entities:       Array of entities
    columns:        Columns to display, ID first
    page:           Page number
#}

{% macro sortOrder(field) %}
    {% if _get.sort == field %}
        {% if _get.order == 'asc' %}
            {{ "desc" }}
        {% else %}
            {{ "asc" }}
        {% endif %}
    {% else %}
        {{ "asc" }}
    {% endif %}
{% endmacro %}

{% block head %}
    <title>{{ entityPlural|title }} &middot; Admin &middot; IWGB</title>
{% endblock %}

{% block content %}
    <div class="pageHeader pageHeader--multipart">
        <div class="pageHeader__part">
            <span>{{ entityPlural|title }}</span>
            <a class="pageHeader__action pageHeader__action--small" href="/admin/{{ entityName }}/new">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <div class="pageHeader__part">
            <button id="entityMenuCollapse" class="menuArrow" type="button">
                <span class="menuArrow__hand menuArrow__hand--top"></span>
                <span class="menuArrow__hand menuArrow__hand--bottom"></span>
            </button>
        </div>
    </div>

    <ul class="nav__list nav__list--standalone nav__list--hide">
        <li class="nav__list__item nav__list__item--collapse">
            <a href="#" class="nav__link--nonNavigable nav__link--">Reset sort</a>
        </li>
        {% for display, href in subnav %}
            <li class="nav__list__item nav__list__item--collapse">
                <a href="{{ href }}" class="nav__link--nonNavigable">{{ display }}</a>
            </li>
        {% endfor %}
    </ul>

    <table class="entityTable" width="100%">
        <thead>
        <tr class="entityTable__header">
            {% for column in columns %}
                <td class="entityTable__field
                    {% if loop.index > 2 %}
                        entityTable__field--hideMobile
                    {% endif %}">
                    <a class="entityTable__header__link" href="/admin/{{ entityName }}/all/{{ page }}?sort={{ column }}&order={{ sortOrder(column) }}">{{ column|title }}</a>
                </td>
            {% endfor %}
        </tr>
        </thead>
        <tbody class="entityTable__body">
            {% include '/admin/tbody/' ~ entityName ~ '.html.twig' with {
                'entities': entities
            } only %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="pagination__part">
            {% if page > 0 %}
                <a class="pagination__link" href="/admin/{{ entityName }}/all/{{ page - 1 }}">
                    <i class="fas fa-arrow-left pagination__link__icon"></i>
                    Previous</a>
            {% endif %}
        </span>
        <span class="pagination__part">
            <a class="pagination__link" href="/admin/{{ entityName }}/all/{{ page + 1 }}">Next
                <i class="fas fa-arrow-right pagination__link__icon"></i></a>
        </span>

    </div>
{% endblock %}