
<h1 class="story-header">{{ title }}</h1>
<div class="stories half-height">
	{% for branch in branches %}
		{% if joinlinks %}
			{% if branch.joining.kind == 'external' %}
				<a href="{{ branch.joining.href }}" target="_blank" class="story">
			{% else %}
				<a href="/join/{{ branch.name }}" class="story">
			{% endif %}
		{% elseif branch.website.kind == "external" %}
			<a href="//{{ branch.website.href }}" target="_blank" class="story">
		{% elseif branch.website.kind == "microsite" %}
			<a href="#" class="story"><!-- TODO -->
		{% elseif branch.website.kind == "none" %}
			<a href="#" class="story">
		{% endif %}
				<div class="story-container">
					<div>
						<h2>{{ _(branch.display) }}</h2>
						<p>{{ _(branch.description) }}</p>
					</div>
				</div>
			</a>
	{% endfor %}
</div>
