{% if backgroundType == 'image' %}
	<div class="img-bg" style="background:url({{ backgroundAsset }}) center/cover">
		<div class="slab-box">
{% elseif backgroundType == 'color' %}
		<div class="slab-box {{ backgroundAsset }}">
{% endif %}
			<div class="action-prompt">
				<div class="text-container">
					<h1>{{ fields.heading.content }}</h1>
				</div>
				{% if fields.subheading is defined %}
					<h2>{{ fields.subheading.content }}</h2>
				{% endif %}
				{% if fields.intro is defined %}
					{% autoescape false %}
						<p>{{ fields.intro.content|htmlentities|md }}</p>
					{% endautoescape %}
				{% endif %}
			</div>
			<div class="detail-slabs">
				{% for column in fields.columns.items %}
					<div class="detail-slab">
						<i class="{{ column.fields.icon.content }} fa-2x"></i>
						<h2>{{ column.fields.heading.content }}</h2>
						<p>
							{% autoescape false %}
								{{ column.fields.body.content|htmlentities|md }}
							{% endautoescape %}
						</p>
					</div>
				{% endfor %}
			</div>
		</div>
{% if backgroundType == 'image' %}
	</div>
{% endif %}