{% extends 'page.html.twig' %}

{% block meta %}
	<script src="/js/nodep-date-input-polyfill.dist.min.js"></script>
{% endblock %}

{% block page %}
	<h1>Join {{ branch.display }}</h1>
	<form method="post" action="/join?callback=/join/{{ branch.name }}">
		{% include 'csrf-fields.html.twig' %}
		<input type="hidden" name="branch" value="{{ branch.name }}">
		{% for section in join %}
			<div>
				<h2>{{ section.display }}</h2>
				{% if section.type == 'inline' %}
					{% for line in section.fields %}
						<div>
							{% include 'formsection.html.twig' with {
								'fields': line
							} only %}
						</div>
					{% endfor %}
				{% elseif section.type == 'vertical' %}
					{% include 'formsection.html.twig' with {
						'fields': section.fields
					} only %}
				{% endif %}
			</div>
		{% endfor %}
		{% if branch.fields|length > 0 %}
			<div>
				<h2>Information for your branch</h2>
				{% include 'formsection.html.twig' with {
					'fields': branch.fields
				} only %}
			</div>
		{% endif %}
		<div>
			<h2>Membership type</h2>
			<select name="cost">
				{% for cost in branch.costs %}
					<option value="{{ cost.name }}">{{ cost.display }}: £{{ cost.amount }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="g-recaptcha" data-sitekey="6LeqJU0UAAAAAOdkuqvkHwfzEz_yR9igu7NpSEKn"></div>
		<input type="submit" value="Next">
	</form>
{% endblock %}
	
{% block scripts %}
	<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

