{% from 'nav.html.twig' import generateNodeLink %}

{% macro generateNodeLink(node) %}
	<a href="{{ node.href }}"
		{% if node.type == 'external' %} target="_blank" {% endif %}>
		<li>{{ _(node.display) }}</li>
	</a>
{% endmacro %}

<div id="nav"></div>
<div class="nav-container">
	<div class="nav main-nav content-pad">
		<a href="/"><img src="/img/iwgb-red-wordmark.png" class="h1-wordmark"></a>
		<ul class="menu nav-menu">

			{% for parentNode in nav.nodes %}
				{% if parentNode.display is defined %}
					{# node is a leaf node #}
					{{ generateNodeLink(parentNode) }}
				{% else %}
					<div class="dropdown" href="{{ parentNode.topNode.href }}">
						<li>{{ _(parentNode.topNode.display) }} <i class="fas fa-angle-down"></i></li>
						<ul class="dropdown-content">
							{% for leafNode in parentNode.listNodes %}
								{{ generateNodeLink(leafNode) }}
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endfor %}
		</ul>
		<div id="hamburger" class="closed">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="nav-border"></div>
	<ul class="menu mobile-menu">
		{% for parentNode in nav %}
			{% if parentNode.display is defined %}
				{# node is a leaf node #}
				{{ _self.generateNodeLink(parentNode) }}
			{% else %}
				{{ _self.generateNodeLink(parentNode.node) }}
			{% endif %}
		{% endfor %}
	</ul>
</div>
{% if app.beta %}
	<div class="beta-message">
		<p>You&rsquo;re viewing a <span>pre-release</span> version of the new IWGB website. We&rsquo;d appreciate your <a href="https://goo.gl/forms/CtJvBJRBqkp2rRR03" target="_blank">feedback</a>, or if there&rsquo;s an issue that needs resolving (and hasn&rsquo;t <a href="//github.com/guym4c/iwgb-arMS/issues" target="_blank">been raised already</a>), you can <a href="//github.com/guym4c/iwgb-arMS/issues/new" target="_blank">open a ticket</a>.</p>
		<p class="version">v{{ app.version }} {{ app.build }}</p>
	</div>
{% endif %}