{% if _a is defined %}
	{% set _get = _get|merge(_a) %}
{% endif %}

{% if _get.m is defined %}
	{% if _get.u is defined %}
		<div class="alert alert--message alert--undo">
			<span class="alert__message">
				<i class="fas fa-check"></i>{{ _get.m|htmlentities }}
			</span>
			<span class="alert__undo">
				<i class="fas fa-undo"></i>
				<a class="alert__undo__action" href="{{ _get.u|htmlentities }}">Undo</a>
			</span>
		</div>
	{% else %}
		<div class="alert alert--message">
			<span class="alert__message"><i class="fas fa-check"></i>{{ _get.m|htmlentities }}</span>
		</div>
	{% endif %}
{% endif %}
{% if _get.e is defined %}
	<div class="alert alert--error">
		<span class="alert__title">Error:</span>
		<span class="alert__message">{{ _get.e|htmlentities }}</span>
	</div>
{% endif %}
{% if _get.w is defined %}
	<div class="alert alert--warning">
		<span class="alert__message"><i class="fas fa-exclamation"></i>{{ _get.w|htmlentities }}</span>
	</div>
{% endif %}