<div class="languages">
    <span class="languages__lang">
        {% if _lang != 'en' %}
            <a class="languages__label" href="/en{{ _uri }}"><img class="languages__label__image" src="{{ _i("/assets/en.png") }}" alt="en"></a>
        {% else %}
            <span class="languages__label"><img class="languages__label__image" src="{{ _i("/assets/en.png") }}" alt="en"></span>
        {% endif %}
    </span>
    <span class="languages__lang">
        {% if _lang != 'es' %}
            <a class="languages__label" href="/es{{ _uri }}"><img class="languages__label__image" src="{{ _i("/assets/es.png") }}g" alt="es"></a>
        {% else %}
            <span class="languages__label"><img class="languages__label__image" src="{{ _i("/assets/en.png") }}" alt="es"></span>
        {% endif %}
    </span>
</div>