<div class="stories">
    <a href="/post/{{ header.id }}/{{ header.shortlink }}" class="story pinned latest" style="background: url({{ _i("/" ~ header.header_img) }}) center/cover">
        <div>
            <h2>{{ header.title|htmlentities }}</h2>
            <div class="meta">
                <p class="category">{{ header.friendly_singular }}</p>
                <p>{{ header.timestamp|timeago }}</p>
                <p class="disqus-comment-count" data-disqus-identifier="{{ header.id }}-{{ header.shortlink }}">0 comments</p>
            </div>
        </div>
    </a>
    <div class="stories half-height">
        {% for story in stories %}
        {% if story.header_img != '' %}
        <a href="/post/{{ story.id }}/{{ story.shortlink}}" class="story img" style="background: url({{ _i("/" ~ story.header_img) }}) center/cover;">
            {% else %}
            <a href="/post/{{ story.id }}/{{ story.shortlink}}" class="story">
                {% endif %}
                <div class="story-container">
                    <h2>{{ story.title|htmlentities }}</h2>
                    <div class="meta">
                        <p class="category">{{ story.friendly_singular }}</p>
                        <p>{{ story.timestamp|timeago }}</p>
                        <p class="disqus-comment-count" data-disqus-identifier="{{ story.id }}-{{ story.shortlink }}">0 comments</p>
                    </div>
                </div>
            </a>
            {% endfor %}
    </div>
    {% if page is defined and blog is defined %}
        <p class="view-more">
            {% if page > 0 %}
                <a href="/feed/{{ blog }}/{{ page - 1 }}">Newer stories</a>
            {% endif %}
            <a href="/feed/{{ blog }}/{{ page + 1 }}">More stories</a>
        </p>
    {% else %}
        <p class="view-more"><a href="/feed/all/0">More stories</a></p>
    {% endif %}
</div>