<div class="stories">
	<a href="/post/{{ header.getId() }}/{{ header.getShortlink() }}"
	   class="story pinned latest"
	   style="background: url(https://cdn.iwgb.org.uk/{{ header.getHeaderImage() }}) center/cover">
		<div>
			<h2>{{ header.getTitle() }}</h2>
			<div class="meta">
				<p class="category">{{ header.getBlog().getFriendlySingular() }}</p>
				<p>{{ header.getStringTimestamp()|timeago }}</p>
				<p class="disqus-comment-count"
				   data-disqus-identifier="{{ header.getId() }}-{{ header.getShortlink() }}">0 {{ _("comments") }}</p>
			</div>
		</div>
	</a>
	<div class="stories half-height">
		{% for story in stories %}
				{% if story.getHeaderImage() != '' %}
					<a href="/post/{{ story.getId() }}/{{ story.getShortlink() }}"
					   class="story img"
					   style="background: url(https://cdn.iwgb.org.uk/{{ story.getHeaderImage() }}) center/cover;">
				{% else %}
					<a href="/post/{{ story.getId() }}/{{ story.getShortlink() }}" class="story">
				{% endif %}
						<div class="story-container">
							<h2>{{ story.getTitle()|htmlentities }}</h2>
							<div class="meta">
								<p class="category">{{ story.getBlog().getFriendlySingular() }}</p>
								<p>{{ story.getStringTimestamp()|timeago }}</p>
								<p class="disqus-comment-count"
								   data-disqus-identifier="{{ story.getId() }}-{{ story.getShortlink() }}">0 {{ _("comments") }}</p>
							</div>
						</div>
					</a>
		{% endfor %}
	</div>
	{% if page is defined and blog is defined %}
		<p class="view-more">
			{% if page > 0 %}
				<a href="/feed/{{ blog }}/{{ page - 1 }}">{{ _("Newer stories") }}</a>
			{% endif %}
			<a href="/feed/{{ blog }}/{{ page + 1 }}">{{ _("More stories") }}</a>
		</p>
	{% elseif page is defined %}
		<p class="view-more"><a href="/feed/{{ page }}/0">{{ _("More stories") }}</a></p>
	{% else %}
		<p class="view-more"><a href="/feed/all/0">{{ _("More stories") }}</a></p>
	{% endif %}
</div>